/*

Enter Joomla! 1.5 design comments here

*/

/*////////// GENERAL //////////*/

body {
	margin: 0px auto;
	background-image: url(../images/star_background.jpg);
        background-repeat: repeat-y;
        background-position: center;
	position: relative;
	background-color: #000;
}

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
	padding: 3px;
}
	
#container{
	border: 0px solid #0f0;
	position: relative;
	line-height: 16px;
	
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	font-size: 14px;
	color: #FFF;
	width: 90%;
	}


	
#image_holder{
	position: relative;
	float: left;
	height: 729px;
	width: 593px;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
		border: 0px solid #0ff;
}
	
#container1{
	position: relative;
	float: left;
	top: -729px;
	left: 247px;

	border: 0px solid #f0f;
		}
#container2 {
	position: relative;
	float: left;
	border: 0px solid #0000ff;
}
	

#container3 {
	position: relative;	
	float: left;
	left: 94px;
	border: 0px solid #ff0000;
	
	}
	
#container4{
	position: relative;
	float: right;
	left: 10px;
	

	border: 0px solid #f0f;
	
	}


	
/*////////// TYPOGRAPHY //////////*/

h1, h4{
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;}

h2, h3{
	
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

		

h1 {
	font-size: 22px; 
	color: #000;
	}
h2 {
	font-size: 22px;
	line-height: 20px;
	color: #000;
	}
h3 {
	font-size: 16px;
	}
h4 {
	font-size: 14px;
	color: #FFF;
	}

p {
	color: #FFF;
	}
blockquote {
	font-size: 16px;	
	font-weight: bold;
	margin-bottom: 24px;
	}

a {
	text-decoration: none;
	font-weight: bold;
	color: #122860;}
a:hover {
	text-decoration: underline;
	}
a:visited {}

/*////////// HEADERS //////////*/

#header {
	border: 0px solid #00ff00;
	position: relative;
	float: left;
	left: 250px;	
	top: -729px;
	height: 110px;
	width: 729px;
	background-image: url(../images/header1.png);
	background-repeat: no-repeat;
	border: 0px solid #ff0000;
	}
	
#ie_header{
}

/*////////// USER MODULES //////////*/

#user1 {
	border: 0px solid #ff6600;

	}

#user2 {
	border: 0px solid #ff6600;

		}
#user3 {
	border: 0px solid #ff6600;
	

	}
#user4{
	border: 0px solid #ff6600;
	}

.leftWidth { /*class allows for quickly ensuring anything on the left side can be set*/
	width: 420px;
	}

.quickMargin { /*adds 10px of margin to anything*/
	margin: 10px
	}
	
/*////////// CONTENT //////////*/

#content {
	width: 444px;
	border: 0px solid #333333;
	background-color: #C12A89;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 0px solid #f0000f;
	
	}
	
#pushbottom {
position: relative;
clear: both;
	border: 0px solid #ff00ff;
	}


	

.leading {
	padding: 7px;
	}
/*////////// NAV //////////*/
ul {
     margin: 0;
     padding: 0;
     }


#nav_container{
	position: absolute;
	left: 5px;
	overflow: hidden;
}
#nav_top_graphic{
	height: 27px;
	background-image: url("../images/nav_top.png");
	background-repeat: no-repeat;
	
     
	}
#nav_menu{
	background-image: url("../images/nav_middle.png");
	width: 87px;
	
     
	}
	
	#nav_bottom_graphic{
	height: 27px;
	background-image: url("../images/nav_bottom.png");
	background-repeat: no-repeat;
	}
#nav_menu h3 {
	display: none;
	}
.menu .menu ul { /* all lists*/
	width: 87px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-variant: small-caps;
	
    
	
	}
.menu li { /* all list items */
	list-style-type: none;
	position: relative;
	left: -20px;
	line-height: 1.25em;
	text-align: right;
	}
.menu li a {
	line-height: 30px;
	display: block;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	text-align: right;
}
	

.menu li a:hover{
	text-decoration: underline; color: #C12A89;
		}
	
/*////////// FOOTER //////////*/
#social_network_icons{
	position: relative;
	float: left;
	top: 5px;
	border: 0px solid #0f0f0f;
	
	}

.soc_net li{
	display: inline;

	}
#footer {
	position: relative;
	float: right;
	top: 5px;
	font-size: 12px;
	color: #FFF;
	text-align: left;
	border: 0px solid #ff00ff;
	}


/*////////// CB CLASS TWEAKS //////////*/


.moduletable_login{
position: relative;
float: left;
top: 5px;
white-space:nowrap;
border: 0px solid #ffff00;
	}
.moduletable_login a{
	color: #C12A89;}
.componentheading {
	}
.cb_form_instructions{
	line-height: 16px;}
	
.cb_form_instructions li{
		padding: 10px;}
		
.cb_field{ padding: 5px;}
	
.readon {
	border: 0px solid white;
	}
	
/*////////// INPUT //////////*/

input.button{
	color: #fff;
	}
	
input.button:hover{
	color: #C12A89;
	}

.button{
	border: 2px solid #fff;
	background-color: #000;
	color: #fff;
	cursor: select; 
}
.button:hover{
color: #C12A89;	
	}

input.button_login{
	color: #fff;
	border: 2px solid #fff;
	}
	
	input.button_login:hover{
	color: #C12A89;
	}

.button_login{
	border: 0px solid #fff;
	background-color: #000;
	}


#nav_tabs_container{
        position: absolute;
        right: 19px;
        top: 66px;
        z-index: 4;
        height: 90px;


        }
