@charset "UTF-8";

/*////////// GENERAL //////////*/

body {
	padding: 0;
	margin: 0;
	background-color: #000;
	border: 0;
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	color: #fff;
}
.wrapper {
	padding: 0;
	margin: 0 auto;
	width: 972px;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-y;
	background-position: center top;
	position: relative;
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
	padding: 3px;
}
#container{
	width: 100%;
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	font-size: 1em;
	color: #fff;
}
#image_holder_holder{
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#image_holder {
	position: absolute;
	right: 0px;
	top: 150px;
	z-index: 0;
	width: 202px;
	height: 626px;
	background-image: url(../images/roller_girl.png);
}
#side_girl {
	background: url("/static/images/roller_girl.png") no-repeat scroll 770px 150px transparent;
	min-height: 800px;
	width: 100%;	
	
}
#logo_holder {
	position: absolute;
	z-index: 9;
	background-image: url(../images/roller_disco_logo.png);
	width: 127px;
	height: 127px;
	background-repeat: no-repeat;
}
#container1 {
	width: 972px;
	border-left: auto;
	border-right: auto;
}
#left_col {
	position: relative;
	float: left;
	width: 200px;
	border: 0px solid #fff;
}
#left_col h3 {
	text-align: center;
}
.safteyFirst {
    background: url("../images/notice_button.png") no-repeat scroll 10px 35px transparent;
    height: 115px;
}
#main_col {
	float: left;
}
#right_col {
	position: relative;
	float: right;
	border: 0px solid #fff;
}
.promotionBox {
   background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: 10px 8px;
    padding: 10px;
    width: 180px;
    border-radius: 15px;
}
.promotionBox img {
	width: 120px;
    margin: 5px 30px;
}
.youtubeIframe {
	width: 560px;
	height: 315px;
	margin: 0 auto;
}
.event_content {
	background: #fff;
	border-radius: 15px;
	padding: 10px;
	width: 97%;
}
.event_content, .event_content p, .event_content label {
	color: #000;
}
.event_content h3 {
	color: #C7228C;
}
.event_content .errorlist li {
	color: red;
}
.event_content .special_text {
	color: #EE82EE;
}
.clear {
	clear: both;
}
	
/*////////// TYPOGRAPHY //////////*/

h1, h4 {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}
h2, h3 {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}
h1 {
	font-size: 22px; 
	color: #000;
}
h2 {
	font-size: 4em;
	text-align: left;;
	color: #c7228c;
	margin: 0 auto;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
	color: #FFF;
}
p {
	color: #FFF;
}
blockquote {
	font-size: 16px;	
	font-weight: bold;
	margin-bottom: 24px;
}
a {
	line-height: 1.4em;
	font-weight: bold;
	color: #c7228c;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
ul{
	margin: 0px;
	padding: 0px;
}

/*////////// HEADERS //////////*/

header {
	height: 150px;
}
#grey_banner {
	height: 110px;
	background-color: #ddd; 
}
#pink_strap {
		height: 40px;
		background-color: #c7228c;
		}
		
/*////////// USER MODULES //////////*/

#user1{
	position: relative;
	top: -110px;
	float: right;
	z-index: 5;
}
.leftWidth { /*class allows for quickly ensuring anything on the left side can be set*/
	width: 420px;
}
.quickMargin { /*adds 10px of margin to anything*/
	margin: 10px
}
	
/*////////// CONTENT //////////*/

#content {
	width: 650px;
	background-image: url(../images/jot.png);
	padding: 10px;
}
#content ul{
	position: relative;
	list-style-type: none;
	line-height: 1.9em;
}
#pushbottom {
	position: relative;
	clear: both;
}
.leading {
	padding: 7px;
}
.contact_form {
	margin: 0 0 30px 0;
	text-align: left;
}
.contact_form tr {
	margin-bottom: 40px;
}
/*////////// NAV //////////*/

nav{
	position: absolute;
	right: 10px; 
	top: 67px;
	z-index: 4;
	height: 90px;
}
#nav_tabs{
	position: relative;
} 
#nav_tabs ul{
	white-space:nowrap;
}
#nav_tabs li{
	font-size: 1.5em;
	display: inline;
	list-style-type: none;
	padding: .5em;
	background-color: #ddd;
}
#nav_tabs li a {
	color: #000;
}			
li#current {
	background-color: #c7228c;	
	border-left: : solid 1px #c7228c;
	border-right: solid 1px #c7228c;
}
#nav_container{
	top: 145px;
	left: 5px;
}
.event_menu{	
	background-image: url(../images/jot.png);
	position: relative;	
	width: 90%;
	border: 0;
	margin: auto;
	padding-left: 2px;
	padding-right: 2px;
}
.event_menu ul{
	text-indent: 1em;
}
.menu ul li a{
	font-size: 1em;
}	
.sidebar_buy_img {
	text-align:center;
}

/*////////// FOOTER //////////*/

#social_network_icons{
	position: relative;
	width: 90%;
	border: 0;
	margin-left: auto;
	margin-right: auto;
	top: 5px;
}
.soc_net li{
	display: inline;
}
footer {
	position: relative;
	clear: both;
	top: 5px;
	font-size: 12px;
	color: #FFF;
	margin-left: auto;
	margin-right: auto;
	}


/*////////// CB CLASS TWEAKS //////////*/

.cbFieldIconsLabels {
	color: #fff;
}
#cbIconsBottom{
	font-size: .75em;
}
.moduletable_search{
	width: 85%;
	position: relative;
	border: 0;
	margin-left: auto;
	margin-right: auto;
}
.search_search label{
	display: none;
}
.button_search{
	border: 2px solid #fff;
	background-color: #000;
	color: #fff;
	cursor: pointer;
}
.button_search:hover{
	color:  #EA078C;
}
.moduletable ul{
	font-size: .75em;
	position: relative;
	left: 7px;
}
.login{
	position: relative;
	float: left;
	top: 5px;
	white-space:nowrap;
	margin-left: 0;
	margin-right: 10px;
	border: 0;
	text-align: right;
	font-size: .7em;
}
.login {
	color: #000;
}
.login a {
	color:  #EA078C;
	font-size: 1.1em;
}
.cb_form_instructions {
	line-height: 16px;
}
.cb_form_instructions li{
	padding: 10px;
}
.cb_field{ 
	padding: 5px;
}
	
/*////////// INPUT //////////*/

input.button {
	color: #fff;
	cursor: pointer;
	background-color:  #000; 
	cursor: pointer; 
}
input.button:hover {
	color:  #EA078C;
}
.button {
	border: 2px solid #fff;
	background-color: #000;
	color: #fff;
	cursor: pointer; 
}
.button:hover {
	color:  #EA078C;	
}
input.button_login{
	color: #fff;
	border: 2px solid #fff;
	cursor: pointer; 
}
input.button_login:hover{
	color:  #EA078C;
}
.button_login{
	background-color: #000;
}
.send {
	position: absolute;
	bottom: 10px;
	margin: 10px 5px;
	background-color: #000000;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
}	
.buy_ticket {
	margin: 10px 5px;
	padding: 3px 5px;
	background-color: #000;
    border: 2px solid #C7228C;
    color: #FFFFFF;
    cursor: pointer;
}	
.send:hover {
	color:  #EA078C;	
}
li {
	list-style-type: none;
}
footer .moduletable {
	position: relative;
	width: 573px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
label {
	color: #fff;
}
.lof-ass .lof-navigator li img {
	display: none
}
a#sortlink {
	display: none;
}
p#contents {
	color: #000;
}
.productPrice {
	color: #000;
}
ul.latestnews{
postion: relative;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/jot.png);
}
a.latestnews {
	font-size: 0.8em;
	line_height: 1.6em;
}
.lof-ass .lof-navigator li h4{
	font-size: 75%;
}

/* fancybox style */

.fancyImagePopUp {
	position: relative;
	margin: 0 0 0 20px;
}
.fancyImagePopUp img {
	border: 1px solid #FF00AA;
}

/* rhino slider style */

.slider_container_days {
	background: url("../images/roller_disco_logo_v2.png") no-repeat;
	width: 650px;
	height: 200px;
	background-position: 180px 0;
}

.slider_container_family {
	background: url("../images/family_jam_logo.png") no-repeat;
	width: 650px;
	height: 200px;
	background-position: 50px 0;
}

.slider_description {
    background-color: #FFFFFF;
    bottom: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;	
    filter:alpha(opacity=80); /* For IE8 and earlier */
}

.slider_container_days h4, .slider_container_family h4 {
	line-height: 0; 
	width: 18%;
	float: right;
	opacity: none;
}

.slider_container_days h4 a, .slider_container_family h4 a{
	color: white;
	background-image: url("../images/jot.png");
	padding: 5px 10px;
	border: 4px outset #C7228C;
	background-color: #000;
}
.slider_container_days h4 a:hover, .slider_container_family h4 a:hover {
	text-decoration: none;
	color:#C7228C;
}

.slider_description p {
	color: #000;
	line-height: 1em; 
	font-weight: bold;
	width: 70%;
	float: left;
	padding-left: 30px;
}

/* google map */

.find_map {
	width:500px;
	height: 400px;
	margin: 10px auto;
}