<!DOCTYPE HTML>
<html>
	<head>
  		<link rel="stylesheet" type="text/css" href="/static/css/template.css">
		<title>Roller Disco</title>
		<!-- rhinoslider JavaScript and CSS -->
		<link type="text/css" rel="stylesheet" href="/static/css/rhinoslider-1.05.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/rhinoslider-1.05.min.js"></script>
		<script type="text/javascript" src="/static/js/mousewheel.js"></script>
		<script type="text/javascript" src="/static/js/easing.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#slider').rhinoslider({
					showTime: 4000,
					controlsPlayPause: false,
					autoPlay: true,
					slideNextDirection: 'toLeft'
				});
			});
		</script>
		<style type="text/css">
			body { background-color:#000; }
			
			#slider {
				width:650px;
				height:200px;
				
				/*IE bugfix*/
				padding:0;
				margin:0;
			}
			
			#slider li { list-style:none; }
			
			#page {
				width:650px;
				height: 200px;
				border: 1px solid #fff;
				margin:50px auto;
			}
		</style>	
		<!-- fancybox JavaScript and CSS -->
		<script type="text/javascript" src="/static/js/jquery.fancybox.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/jquery.fancybox.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/static/css/jquery.fancybox-thumbs.css" />
		<script type="text/javascript" src="/static/js/jquery.fancybox-thumbs.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				/*
				 *  Simple image gallery. Uses default settings
				 */

				$('.fancybox').fancybox();

				/*
				 *  Different effects
				 */

				// Change title type, overlay closing speed
				$(".fancybox-effects-a").fancybox({
					helpers: {
						title : {
							type : 'outside'
						},
						overlay : {
							speedOut : 0
						}
					}
				});

				// Disable opening and closing animations, change title type
				$(".fancybox-effects-b").fancybox({
					openEffect  : 'none',
					closeEffect	: 'none',

					helpers : {
						title : {
							type : 'over'
						}
					}
				});

				// Set custom style, close if clicked, change title type and overlay color
				$(".fancybox-effects-c").fancybox({
					wrapCSS    : 'fancybox-custom',
					closeClick : true,

					openEffect : 'none',

					helpers : {
						title : {
							type : 'inside'
						},
						overlay : {
							css : {
								'background' : 'rgba(238,238,238,0.85)'
							}
						}
					}
				});

				// Remove padding, set opening and closing animations, close if clicked and disable overlay
				$(".fancybox-effects-d").fancybox({
					padding: 0,

					openEffect : 'elastic',
					openSpeed  : 150,

					closeEffect : 'elastic',
					closeSpeed  : 150,

					closeClick : true,

					helpers : {
						overlay : null
					}
				});

				/*
				 *  Button helper. Disable animations, hide close button, change title type and content
				 */

				$('.fancybox-buttons').fancybox({
					openEffect  : 'none',
					closeEffect : 'none',

					prevEffect : 'none',
					nextEffect : 'none',

					closeBtn  : false,

					helpers : {
						title : {
							type : 'inside'
						},
						buttons	: {}
					},

					afterLoad : function() {
						this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
					}
				});


				/*
				 *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
				 */

				$('.fancybox-thumbs').fancybox({
					prevEffect : 'none',
					nextEffect : 'none',

					closeBtn  : false,
					arrows    : false,
					nextClick : true,

					helpers : {
						thumbs : {
							width  : 50,
							height : 50
						}
					}
				});

				/*
				 *  Open manually
				 */

				$("#fancybox-manual-a").click(function() {
					$.fancybox.open('1_b.jpg');
				});

				$("#fancybox-manual-b").click(function() {
					$.fancybox.open({
						href : 'iframe.html',
						type : 'iframe',
						padding : 5
					});
				});

				$("#fancybox-manual-c").click(function() {
					$.fancybox.open([
						{
							href : '1_b.jpg',
							title : 'My title'
						}, {
							href : '2_b.jpg',
							title : '2nd title'
						}, {
							href : '3_b.jpg'
						}
					], {
						helpers : {
							thumbs : {
								width: 75,
								height: 50
							}
						}
					});
				});


			});
		</script>
		<style type="text/css">
			.fancybox-custom .fancybox-skin {
				box-shadow: 0 0 50px #222;
			}
		</style>
	</head>
	<body>
    <div id="cookieWarning" style=" border:2px solid grey; position:absolute; z-index:25; background-color:rgba(0,0,0,0.75); padding:5px;  padding-bottom:14px; width:70%; left:195px;">
    <div><p style="color:#FFF; float:left; padding-left:90px;"><strong>rollerdisco.com uses minimal cookies, to enhance user experience</strong></p>
    <button id="cookie-close-button" style="position:relative; float:left; left:10px; top:-4px;"><p style="color:#000;"><strong>Accept cookies</p></strong></button></div></div>
		<div class="wrapper">
      
			<div id="side_girl">
			<header>
				<div id="logo_holder"></div>
				<div id="grey_banner"></div>
				<div id="pink_strap"></div>  			
			</header>
				{% include "left_column.html" %}
			<div id="main_col">
				<div id="content">
					{% block content %}
					{% endblock %}
				</div>
			</div>
			{% include "nav.html" %}
			<br class="clear" />
			</div>
		</div>
			{% include "footer.html" %}
	</body>
</html>
