<!DOCTYPE HTML>
<html>
	<head>
  		<link rel="stylesheet" type="text/css" href="/static/css/template.css">
		<title>Roller Disco</title>
	</head>
	<body>
		<div id="image_holder"> </div>
		<header>
			<div id="logo_holder"></div>
			<div id="grey_banner"></div>
			<div id="pink_strap"></div>  			
  		</header>
			{% include "left_column.html" %}
  		<div id="main_col">

	  		<div id="content">
  				{% block content %}
  				{% endblock %}
			</div>
		</div>
		{% include "nav.html" %}
	</body>
</html>
