{% extends "base.html" %}
{% block content %}
<div id="main_col">
	<div id="content_bevel_top"></div>		
		<div id="content"><!-- begin #content-->
			<div class="leading">
				<div class="contact">
					<h3>Contact us</h3>
					<div style="float: right;">
						<img align="middle" alt="Contact" src="/static/images/pink_rollerdisco_logo.png">	
					</div>
					<div class="contact_address">
					<!--open contact_address div -->
						<address>
							<span class="marker">
								<img alt="Address: " src="/static/images/con_address.png">
							</span> 
							<br>Renaissance Rooms,<br>
							off Miles Street,<br>
							opposite arch 8,<br>
							<br>Vauxhall<br>
							London<br>England<br>
							SW8 1RZ<br>
							<span class="marker">
								<img alt="E-mail: " src="/static/images/emailButton.png">
							</span>
							 <a href="mailto:info@rollerdisco.com">info@rollerdisco.com</a>
							 <span style="display: none;">This e-mail address is being protected from spambots. You need JavaScript enabled to view it.
							 </span><br>
							 <span class="marker">
							 	<img alt="Telephone: " src="/static/images/con_tel.png">
							 </span>020 7720 9140<br>
						 </address>
					</div>
					<!--close contact_address div -->
					<p>Download information as a 
						<a href="/static/images/Contact_us.vcf">
							vCard
						</a>
					</p>
				<!--	<form action="/thankyou/" method="post">
						<div class="contact_form">
							{% csrf_token %}
							{% for field in form %}
									{{ field.errors }}
									{{ field.label_tag }}<br /> {{ field }}<br />
							{% endfor %}
						</div>
						<button type="submit" class="send">Send</button>
					</form> -->
				</div>
			</div><!-- end leading -->
		</div><!-- end content -->
		<div id="content_bevel_bottom"></div>
	</div>

{% endblock %}
