{% extends "base.html" %}
{% block content %}
<div id="main_col">
	<div id="content_bevel_top"></div>		
		<div id="content"><!-- begin #content-->
			<div class="leading">
				<div class="contact">
					<h3>Contact us</h3>
					<div style="float: right;">
						<img align="middle" alt="Contact" src="/static/images/pink_rollerdisco_logo.png">	
					</div>
					<div class="contact_address">
					<!--open contact_address div -->
						<address>
							<span class="marker">
								<img alt="Address: " src="/static/images/con_address.png">
							</span> 
							<br>Renaissance Rooms,<br>
							off Miles Street,<br>
							opposite arch 8,<br>
							<br>Vauxhall<br>
							London<br>England<br>
							SW8 1RZ<br>
							<span class="marker">
								<img alt="E-mail: " src="/static/images/emailButton.png">
							</span>
							 <a href="mailto:info@rollerdisco.com">info@rollerdisco.com</a>
							 <span style="display: none;">This e-mail address is being protected from spambots. You need JavaScript enabled to view it.
							 </span><br>
							 <span class="marker">
							 	<img alt="Telephone: " src="/static/images/con_tel.png">
							 </span>020 7720 9140<br>
						 </address>
					</div>
					<!--close contact_address div -->
					<p>Download information as a 
						<a href="/static/images/Contact_us.vcf">
							vCard
						</a>
					</p>
					<form action="/thankyou/" method="post">
						<div class="contact_form">
							{% csrf_token %}
							{% for field in form %}
									{{ field.errors }}
									{{ field.label_tag }}<br /> {{ field }}<br />
							{% endfor %}
						</div>
						<button type="submit" class="send">Send</button>
					</form>
					<!-- 
<form id="emailForm" name="emailForm" method="post" class="form-validate" action="/contact/">
						<div class="contact_email">
							<label for="contact_name">Enter your Name:</label>
							<input type="text" value="" size="30" id="contact_name" name="name" autofocus />
						</div>
						<div class="contact_email">
							<label for="contact_email" id="contact_emailmsg">E-mail address *:</label>
							<input type="email" maxlength="100" value="" size="30" name="sender" id="contact_email" required />
						</div>
						<div class="contact_email">
							<label for="contact_subject">Message Subject:</label>
							<input type="text" value="" class="inputbox" size="30" id="contact_subject" name="subject">
						</div>
						<div class="contact_email">
							<label class="textarea" for="contact_text" id="contact_textmsg">Enter your Message *:</label><br />
							<textarea cols="40" rows="10" id="contact_text" name="message" required></textarea>
						</div>
						<div class="contact_email_checkbox">
							<input type="checkbox" value="1" id="contact_email_copy" name="email_copy" />
							<label class="copy" for="contact_email_copy">E-mail a copy of this message to your own address.	</label>
						</div>
						<button type="submit" class="button validate">Send</button>
					</form>
 -->
				</div>
			</div><!-- end leading -->
		</div><!-- end content -->
		<div id="content_bevel_bottom"></div>
	</div>

{% endblock %}
