{% extends "base.html" %}
{% block content %}
<h2>{{promotion.title}}</h2>
<div class="promotionBox">
	<img src="/{{promotion.flyer}}" />
</div>
<br class="clear" />
<p><strong>Please be aware this event is for {{promotion.ageRestriction}} Years and above only.</strong></p>
<p>Doors open at: {{promotion.startTime}}</p>
<p>Event Finishes at: {{promotion.finishTime}}</p>
<p>Ticket price (includes Skate Hire): &pound;{{promotion.price}} per person</p>
<ul>
{% for event in events %}
	<li><a href="/buytickets/{{event.id}}">
		<div class="promotionBox">
			{{event.date}}
			<img src="/{{event.promotion.flyer}}" />
			Price: &pound;{{event.promotion.price}}
		</div>
	</a></li>
{% endfor %}
</ul>
<br class="clear" />
{% endblock %}
