{% extends "base.html" %}
{% block content %}
    <h2>Upcoming Events</h2>

  <p><strong>{{promotion}}</strong></p>
  <ul>
	{% for promotion in promotions %}
		<li><a href="/showevents/{{promotion.id}}/eventdetail"><div class="promotionBox">{{promotion.title}} £{{promotion.price}} <img src="/{{promotion.flyer}}"/></div></a></li>
    {% endfor %}
	</ul>
	<br class="clear" />
    <div class="event_content">
		<h3>All our evening events are 18+</h3>
		<p>Tickets to all our events are available on this site and on the door.</p>
		<p class="special_text">Pre-book your ticket for access to the separate fast track, entrance queue.</p>
		<p class="special_text">We always hold a few tickets back, for sale on the door so don't worry if they're all sold out here.</p>
		<p>Note that age restrictions may apply.</p>
	</div>
{% endblock %}


