{% extends "base.html" %}
{% block content %}

<div id="main_col">
	<div id="content_bevel_top"></div>		
	<div id="content"><!-- begin #content-->
		<div class="leading">
		<div id="find_page">
		<h2 class="contentheading">How to find us</h2>
		<p class="buttonheading"></p>
		<h4>The Renaissance Rooms, is just a short walk from Vauxhall Station.</h4>
		<div class="find_map">
			<iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=The+Renaissance+Rooms+England+SW8+1RZ&amp;aq=&amp;sll=51.479031,-0.11673&amp;sspn=0.062543,0.181789&amp;ie=UTF8&amp;hq=The+Renaissance+Rooms&amp;hnear=SW8+1RZ,+United+Kingdom&amp;t=m&amp;ll=51.482372,-0.126235&amp;spn=0.005345,0.010707&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br />		
		</div>
		<p></p>
		<h5>Parking nearby is available.&nbsp;Entrance is Via Wandsworth Road</h5>
		<h3>Arrival by Underground</h3>
		<h5>* Take exit 2 at Vauxhall Underground Station.</h5>
		<h5>* Turn right at the top of the stairs and walk through bus station down to stop J</h5>
		<h5>* Cross Parry St at pedestrian controlled lights.</h5>
		<h5>* Turn right after crossing Parry street follow the wall round into Wandsworth Road.</h5>
		<h5>* Follow the road down to Railway Bridge then turn left into the entrance to Roller Disco.</h5>
		<h3>Bus</h3>
		<h5>Daytime: 2, 89, 36, 185, 436, 360</h5>
		<h5>Nighttime: N2, N36</h5>
		</div>
		</div><!-- end leading -->
	</div><!-- end content -->
	<div id="content_bevel_bottom"></div>
</div>
{% endblock %}
