<div id="left_col">
	<div class="safteyFirst">
		<h3>Safety First</h3>
	</div>
	<div class="moduletable_event_menu">
		<h3>Events</h3>
		<ul class="latestnews_event_menu">
			<li class="latestnews_event_menu">
				<a class="latestnews_event_menu" href="#">Thursday</a>
			</li>
		</ul>		
	</div>
	<div class="moduletable">
		<!-- Simple Image Holder 1.5.12 starts here -->
		<div style="text-align:center;">
			<a href="#">
				<img border="0" title="buy tickets" alt="buy tickets" src="../static/images/ticket_button.gif">
			</a>
		</div>
		<!-- Simple Image Holder 1.5.12 ends here -->
	</div>
	<div class="moduletable_ customlatestnews">
		<h3>Latest News</h3>
		<ul class="latestnews">
			<li class="latestnews">
				<a class="latestnews" href="#">News</a>
			</li>
		</ul>
	</div>
</div>
